---
import PricePill from "./PricePill.astro";
import StarFill from "../icons/StarFill.astro";
import Star from "../icons/Star.astro";

interface Props {
  name: String;
  price: String;
  image: String;
  popular: Boolean;
  votes: Number;
  rating: Number;
  available: Boolean;
}

const { name, price, image, popular, votes, rating, available } = Astro.props;
---

<article class="sm:w-[90%] lg:w-[50%] xl:w-[500px]">
  <div>
    {
      popular && (
        <div class="absolute m-3 popular w-[90px] text-center rounded-2xl py-[3px] font-bold">
          <p>Popular</p>
        </div>
      )
    }

    <img class="w-full rounded-xl" src={image} alt={name} />

    <div class="flex flex-row justify-between w-full h-auto mt-[15px]">
      <h3 class="name">{name}</h3>

      <PricePill class="px-2 py-1 font-extrabold" price={price} />
    </div>

    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-1 my-2">
        {votes > 0 ? <StarFill /> : <Star />}

        <p>
          <span class="rating">{rating}</span><span class="votes">
            ({votes < 1 ? "No ratings" : votes})</span
          >
        </p>
      </div>

      <div>
        {
        available === false && (
          <p class="sold-out px-2 py-2">Sold Out</p>
        )}
      </div>
    </div>
  </div>
</article>

<style>
  .popular {
    font-size: 14px;
    background-color: var(--yellow);
    color: var(--bg-container);
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
  }

  .rating {
    color: var(--text);
  }

  .votes {
    color: var(--gray);
  }

  .sold-out {
    color: var(--red)
  }
</style>
