---
import GithubIcon from "../icons/GithubIcon.astro"
import ModalVector from "../icons/ModalVector.astro"
import Card from "./Card.astro"

const { coffees } = Astro.props
---

<article
	class="absolute top-28 flex w-[100%] flex-col items-center justify-center rounded-2xl p-10 font-semibold sm:w-[90%]"
>
	<div class="flex w-full flex-row justify-between">
		<a
			class="flex flex-col items-center transition hover:scale-105 hover:opacity-80"
			href="https://github.com/ABetancourt03/Coffee-Listing-Page"
			target="_blank"
			rel="noopener noreferrer"
		>
			<GithubIcon />
			<p>Github</p>
		</a>

		<ModalVector />
	</div>

	<section
		class="flex w-80 flex-col justify-center gap-y-5 text-center sm:w-[410px] lg:w-[650px] xl:w-[650px] 2xl:w-[650px]"
	>
		<h2 class="text-4xl">Our Collection</h2>
		<p class="text-xl">
			Introducing our Coffee Collection, a selection of unique coffees from different roast types
			and origins, expertly roasted in small batches and shipped fresh weekly.
		</p>
	</section>

	<section class="flex w-[80%] justify-center">
		<div class="justifi-center my-8 flex flex-row gap-8">
			<a id="all" class="active rounded-lg px-4 py-2 transition hover:opacity-80" href="/">
				All Products
			</a>

			<a id="available" class="rounded-lg px-4 py-2 transition hover:opacity-80" href="/available">
				Available Now
			</a>
		</div>
	</section>

	<div class="grid gap-x-12 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
		{
			coffees.map((coffee) => (
				<Card
					name={coffee.name}
					image={coffee.image}
					price={coffee.price}
					rating={coffee.rating}
					votes={coffee.votes}
					popular={coffee.popular}
					available={coffee.available}
				/>
			))
		}
	</div>
</article>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const currentPath = window.location.pathname

		if (currentPath === "/available") {
			document.getElementById("available").classList.add("active")
			document.getElementById("all").classList.remove("active")
		}
	})
</script>

<style>
	article {
		background-color: var(--bg-container);
	}

	h2 {
		color: var(--text);
	}

	p {
		color: var(--gray);
	}

	a {
		color: var(--text);
	}

	.active {
		background-color: var(--gray);
	}
</style>
